<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>
    <li><%= link_to "New User", signup_path %></li>
    <li><%= link_to "User Login", login_path %></li>
    <% if logged_in? %>
      <li><%= link_to "Create Event", host_path %></li>
      <li><%= link_to "Index", events_home_path %></li>
    <%end%>
  </ul>
    <%= yield %>
  </body>
</html>
